/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
/* Copy and paste your work from yesterday here and start to refactor into flexbox */

nav{
	display: flex;
	align-self: flex-start;
	justify-content:space-between;
	padding:3%;

}
a{
	color:silver;
	text-decoration:none;
}

.container-one{
	display: flex;
	justify-content:center;
	justify-content: flex-start;

}
h1{

	font-size:60px;
	width:60%;
	text-align:center;
	margin-top:5%;
	justify-content: flex-start;
}

button{

	height:40px;
	width:200px;
	font-size:20px;
	margin:7%;
	padding:0;
}
.main{
	height:25%;
	width:25%;
	flex-grow:.6;

}
hr{
	margin-top:4%;
	margin-left:7%;
	margin-bottom:4%;
}
.two-columns{
	display:inline-flex;
	flex-wrap: wrap;
	justify-content: left;
	width:42%;
margin:0 0 0 7%;
justify-content: space-evenly;
}
.container2{
	display:flex;

}
.middle-img{
	margin:5% 0 0 7%;
	height:20%;
	width:86%;
	flex-shrink:1;
}
.three-columns{
	display:inline-flex;
	flex-wrap:wrap;
	justify-content:left;
	width:26%;
	margin: 5% 0 0 7%;
}
.contact{
	margin: 0 0 0 7%;
}
li{
	list-style: none;
}
.footer{
	text-align: center;
	margin-bottom:10%;
}